
.CitePanel {
    font-size: 14px;

    li {
        border-bottom: 1px solid #ccc;
        hyphens: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        word-wrap: break-word;
    }

    strong {
        display: block;
    }
}