
@import "../../variables";

.MediaStrip--arrow {
    @include reset-button-appearance;
    cursor: pointer;
    outline: none;

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
}
