
.CaptionPanel {
    line-height: 1.5;

    &--title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &--credit {
        color: #999;
    }

    &--credit, &--license {
        font-size: 11px;
        font-style: italic;
        margin-top: 10px;
    }
}