
.CaptionPanel {
  line-height: 1.5;

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .caption {

  }

  .credit {
    color: #999;
    word-wrap: break-word;
  }

  .credit, .license {
    font-size: 11px;
    font-style: italic;
    margin-top: 10px;
  }
}
