@import '../../variables';

.VideoMedia {
  height: 100%;
  max-height: 100%;
  width: 100%;

  :global {
    #eb-video-player {
      height: 100% !important;
    }
  }

  @include media-breakpoint-up(xl) {
    :global {
      .jwplayer {
        position: inherit !important;

        .jw-media {
          background-color: black;
        }

        .jw-aspect {
          display: none !important;
        }

        .jw-preview {
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover contain;
        }
      }
    }
  }
}
