
@import "../variables";

.Sidebar {
    grid-area: sidebar;
    background-color: white;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
        bottom: 0;
        left: 0;
        max-height: 200px;
        position: fixed;
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        background-color: rgba(white, 0.9);
    }

    // todo: can we overlap this using grid?

    @include media-breakpoint-between(md, lg) {
        $height: 200px;

        height: $height;
        margin-top: -$height;
        position: relative;
    }

    @include media-breakpoint-up(lg) {
        margin-right: $overlay-gap;
        max-width: $sidebar-width;
        width: $sidebar-width;
    }

    &.isCollapsed {
        margin: 0;
        max-width: 0;
        width: 0;
    }

    .sidebarContent {
        border: 0 solid $gray-200;
        flex: 1;
        overflow-y: auto;
        padding: 15px;

        @include media-breakpoint-up(md) {
            margin-bottom: $overlay-gap;
        }

        @include media-breakpoint-up(lg) {
            border-width: 0 1px 1px;
        }
    }

    img {
        margin-bottom: $overlay-gap;
    }
}
