
@import "../variables";

$hover-opacity: 0.6;

.MediaViewer {
    grid-area: mediaViewer;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 0;
    position: relative;
    transition: 0.2s;

    &:hover .mediaArrow {
        opacity: $hover-opacity;
    }

    @include media-breakpoint-up(lg) {
        margin: $overlay-gap;
    }

    .mediaArrow {
        @include reset-button-appearance;
        align-items: center;
        background-color: rgba(black, 0.5);
        color: white;
        cursor: pointer;
        display: flex;
        font-size: inherit;
        height: 55px;
        justify-content: center;
        opacity: 0.2;
        position: absolute;
        transition: all 0.2s;
        width: 55px;

        &:hover {
            opacity: 1;
        }

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }

        @include media-breakpoint-down(md) {
            opacity: $hover-opacity;
        }
    }
}
