@import '../../../variables';
@import '../variables';

.Toolbar {
  grid-area: toolbar;
  background-color: $gray-200;
  align-items: center;
  display: flex;
  margin: $toolbar-margin $toolbar-margin 0;
  min-height: 56px;
  padding-left: 15px;

  @include media-breakpoint-down(md) {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 3px 5px rgba(black, 0.05);
    margin: 0;
    position: relative;
    z-index: 1;
  }

  button,
  a {
    align-items: center;
    appearance: none;
    background: none;
    border: none;
    color: $gray-600;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 12px;
    justify-content: center;
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        color: $blue;
      }
    }

    &.active {
      background-color: $blue-dark;
      border-radius: 3px;
      color: white;
      padding: 10px;
    }

    @include media-breakpoint-down(md) {
      align-items: center;
      display: inline-flex;
      height: 48px;
      justify-content: center;
      min-width: 48px;
    }
  }

  :global {
    svg,
    .fa-layers {
      margin-right: 8px;
    }
  }

  // --- Overlay tools

  .overlayTools {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }

  .mediaCount {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 15px;
  }

  // --- Additional tools

  .additionalTools,
  .customTools {
    flex: 0 1 auto;
  }

  .customTools {
    @include media-breakpoint-up(lg) {
      padding-right: 15px;
    }
  }

  // --- Sidebar tools

  .sidebarPanels {
    display: flex;

    @include media-breakpoint-up(md) {
      flex-basis: auto;
    }

    @include media-breakpoint-up(lg) {
      border-bottom: $sidebar-border-width solid $blue-dark;
      flex: 0 1 $sidebar-width;
      margin-right: $overlay-gap - $toolbar-margin;
      padding-top: $sidebar-border-width;
    }

    .panelButton {
      margin: 0; // fix for safari display

      &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      @include media-breakpoint-up(lg) {
        flex: 1 0 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .close {
    color: $blue;

    svg {
      margin: 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 0.85em;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}
