
@import "variables";

.MediaOverlay {
    font-size: 16px;
    z-index: 100000;

    &, .background {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    .main {
        background-color: white;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        display: grid;
        grid-template-columns: 1fr;

        &.mediaView {

            @include media-breakpoint-down(sm) {
                grid-template-rows: min-content min-content 1fr;
                grid-template-areas:
                        'toolbar'
                        'overlayTitle'
                        'mediaViewer';
            }

            @include media-breakpoint-up(md) {
                grid-template-rows: min-content min-content 1fr min-content min-content;
                grid-template-areas:
                        'toolbar'
                        'overlayTitle'
                        'mediaViewer'
                        'sidebar'
                        'mediaStrip';
            }

            @include media-breakpoint-up(lg) {
                grid-template-columns: 1fr min-content;
                grid-template-rows: auto auto 1fr auto;
                grid-template-areas:
                        'toolbar toolbar'
                        'overlayTitle sidebar'
                        'mediaViewer sidebar'
                        'mediaStrip sidebar';
            }
        }

        &.galleryView {
            grid-template-rows: min-content 1fr;
            grid-template-areas:
                        'toolbar'
                        'gallery';
        }

        @include media-breakpoint-up(xl) {
            border: 1px solid #ccc;
            height: calc(100% - #{$overlay-margin * 2});
            margin: $overlay-margin;
        }
    }

    .background {
        background-color: rgba(white, 0.9);
        z-index: -1;
    }
}
