// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eeeeee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue:      #106596;
$blue-dark: #084466;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #e83e8c !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "blue-dark":  $blue-dark,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);


// --- Bootstrap defaults

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


// Export to JS

@value screenXsMax #{map-get($grid-breakpoints, sm) - 1};
@value screenSmMin #{map-get($grid-breakpoints, sm)};
@value screenSmMax #{map-get($grid-breakpoints, md) - 1};
@value screenMdMin #{map-get($grid-breakpoints, md)};
@value screenMdMax #{map-get($grid-breakpoints, lg) - 1};
@value screenLgMin #{map-get($grid-breakpoints, lg)};
@value screenLgMax #{map-get($grid-breakpoints, xl) - 1};
@value screenXlMin #{map-get($grid-breakpoints, xl)};


// --- Mixins

@mixin reset-button-appearance {
  appearance: none;
  background: inherit;
  border: inherit;
  font-size: inherit;
  padding: inherit;
}
