
@import "../variables";

.MediaStrip {
    grid-area: mediaStrip;
    background-color: white;

    @include media-breakpoint-up(lg) {
        margin: 0 $overlay-gap $overlay-gap;
    }

    // These are nuka-carousel class names, and don't get mangled by CSS modules

    :global {

        .slider {

            @include media-breakpoint-up(lg) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .slider-list {
            cursor: auto !important;
            width: auto !important;
        }
    }
}
