
@import "../variables";

.MediaOverlay--mediaStrip {
    grid-area: mediaStrip;
    background-color: white;

    @include media-breakpoint-up(lg) {
        margin: 0 $overlay-gap $overlay-gap;
    }

    .slider {

        @include media-breakpoint-up(lg) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .slider-list {
        cursor: auto !important;
        width: auto !important;
    }
}
